@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
    font-family: 'EucrosiaUPC';
    src: url('fonts/upcel.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2d7aa;
    color: #000000;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
}

img {
    width: 1100px;
    height: 450px;
}

.img-container {
    width: 1180px;
    height: 450px;
    margin-top: 65px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 65px;
    font-family: 'Indie Flower', cursive;
}

nav {
    margin: 30px;
}

li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

a {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #0a2d4a;
    font-weight: bold;
}

article {
    width: 350px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    text-align: justify;
}

article img {
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
}

article > p:first-of-type:first-letter {
    font-family: 'EucrosiaUPC', sans-serif;
    font-size: 40px;
}

article > h3 > a {
    color: blue;
    font-size: 22px;
}

span a {
    background: url("images/bg2.jpg");
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

article p:last-of-type span:first-of-type a::before {
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}

footer {
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}