html {
    background-color: #F0F0E8;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #7F8287;
}

header {
    text-align: center;
}

header h1 {
    color: #009288;
    font-size: 56px;
}

main {
    margin: 60px;
}

article {
    display: inline-block;
    width: 220px;
    text-align: center;
    margin: 0 36px;
    padding: 20px;
    border-left: 10px solid #F0F0E8;
}

article:hover {
    cursor: pointer;
    background-color: #F6F6F5;
    border-left: 10px solid #009288;
}