div {
    background-color: #6495ED;
    width: 140px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.center {
    margin: 0 auto;
}