body {
    font: 12px Arial, sans-serif;
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}

header > h1 {
    font-size: 18px;
    text-align: center;
    color: #9470DC;
    text-transform: capitalize;
}

main > article > button {
    font-size: 14px;
}

article {
    display: inline-block;
    width: 23%;
    height: 262px;
    margin: 0 6px;
    background-color: #EEEEEE;
    border-radius: 10px;
}

article div {
    font-size: 3em;
    text-align: center;
    padding: 60px;
    margin: 8px;
    border: 0;
    border-radius: 50%;
    background-color: #9470DC;
    color: #ffffff;
}

article button {
    background: #DDDDDD;
    border: 0;
    text-align: center;
    border-radius: 10px;
    width: 170px;
    height: 40px;
    margin: 7px;
    text-transform: capitalize;
    color: #6C656C;
}

article button:hover {
    cursor: pointer;
    background-color: #ffffff;
}

article div:hover {
    background-color: #ffffff;
    color: #9470DC;
    cursor: pointer;
}

article p {
    color: #B4B0A7;
    text-align: center;
}